<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<style>
		body {
			font-family: Arial, sans-serif;
			background-color: #36393f;
			color: #ffffff;
			margin: 0;
			padding: 0;
		}

		.card {
			background-color: #2e3338;
			border-radius: 5px;
			margin: 20px;
			padding: 10px;
		}

		h3 {
			background-color: #7289da;
			color: #ffffff;
			padding: 10px;
			margin: 0;
		}

		ul {
			list-style-type: none;
			padding: 0;
		}

		li {
			margin: 10px 0;
		}
	</style>
</head>

<body>
	<h3>Borrowed Cycle</h3>
	<div class="card" th:each="cyc : ${borrowedCycleList}">
		<ul>
			<li><strong>ID:</strong> <span th:text="${cyc.id}"></span></li>
			<li><strong>Brand:</strong> <span th:text="${cyc.brand}"></span></li>
			<li><strong>Color:</strong> <span th:text="${cyc.color}"></span></li>
			<li><strong>Available:</strong> <span th:text="${cyc.available}"></span></li>
			<li>
				<form th:action="@{/borrowedcycle/{id}(id=${cyc.id})}" method="post">
					<button type="submit">Return</button>
				</form>
			</li>
		</ul>
	</div>
</body>

</html>